##############################################################################
# Sample object config file for Nagios
#
# Read the documentation for more information on this configuration file.  I've
# provided some comments here, but things may not be so clear without further
# explanation, so make sure to read the HTML documentation!
#
################################################################################


################################################################################
## Service definitionS
#
# SYNTAX:
#
################################################################################

# Generic# Service definition template
define service{
	name				generic-service	; The 'name' of this service template, referenced in other# Service definitions
	active_checks_enabled		1	; Active service checks are enabled
	passive_checks_enabled		1	; Passive service checks are enabled/accepted
	parallelize_check		1	; Active service checks should be parallelized (disabling this can lead to major performance problems)
	obsess_over_service		1	; We should obsess over this service (if necessary)
	check_freshness			0	; Default is to NOT check service 'freshness'
	notifications_enabled		1	; Service notifications are enabled
	event_handler_enabled		1	; Service event handler is enabled
	flap_detection_enabled		1	; Flap detection is enabled
	process_perf_data		1	; Process performance data
	retain_status_information	1	; Retain status information across program restarts
	retain_nonstatus_information	1	; Retain non-status information across program restarts

	register			0	; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
	}


## Service definition
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       server1
        service_description             PING
        is_volatile                     0
        check_period                    24x7
        max_check_attempts              3
        normal_check_interval           5
        retry_check_interval            1
        contact_groups                  linux-admins
        notification_interval           240
        notification_period             24x7
        notification_options            c,r
        check_command                   check_ping!100.0,20%!500.0,60%
        }

## Service definition
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       server1
        service_description             Check VGOS Free Space
        is_volatile                     0
        check_period                    24x7
        max_check_attempts              3
        normal_check_interval           5
        retry_check_interval            1
        contact_groups                  linux-admins
        notification_interval           240
        notification_period             24x7
        notification_options            c,r
        check_command                   check_remote_disk!5%!2%!/

        }


#Service definition
define service{
       use                             generic-service         ; Name of service template to use
       host_name                       server1
       service_description             CHECK REDIS server1
       is_volatile                     0
       check_period                    24x7
       max_check_attempts              3
       normal_check_interval           5
       retry_check_interval            1
       contact_groups                  linux-admins
       notification_interval           240
       notification_period             24x7
       notification_options            c,r
       check_command                   check_tcp!700
       }


## Service definition
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       server1
        service_description             VGOS Free Space
        is_volatile                     0
        check_period                    24x7
        max_check_attempts              3
        normal_check_interval           5
        retry_check_interval            1
        contact_groups                  linux-admins
        notification_interval           120
        notification_period             24x7
        notification_options            w,u,c,r
        check_command                   check_remote_disk!10%!5%!/dev/mapper/vg_os-lv_os
        }
